* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #222327;
  text-align: center;
  color: white;
}

.portfolio-items-wrapper, .about-items-wrapper {
  width: 100vw;
  margin-bottom: 10px;
}

.portfolio-items, .about-items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.portfolio-item, .about-item {
  flex: none;
  width: 50%;
  height: 380px;
  scroll-snap-align: start;
  pointer-events: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-scroll {
  font-size: 1.3em;
}
