.about-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.about-about {
  padding: 10px;
  width: 600px;
  text-align: start;
  font-style: italic;
  background:rgba(0,0,0,0.3785889355742297) 100%;
}

.about-about p {
  font-size: 1.2em;
  color: white;
}

.about-about span {
  color: #00bcd4;
}

.about-skills {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-skills-container {
  padding: 10px;
}

.about-icon {
  font-size: 40px;
  color: white;
}