* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('../imagens/photo-1516557070061-c3d1653fa646.avif');
  text-align: center;
  color: white;
}
