.main-container {
  font-size: xx-large;
  margin-top: 10vh;
}

.main-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main-link {
  margin: 5px;
  font-size: 40px;
  text-decoration: none;
  color: white;
}