.main-container {
  margin-top: 10vh;
}

.main-p1 {
  font-size: 3em;
}

.main-p2 {
  font-size: 1.4em;
}

.main-p3 {
  font-size: 1.4em;
}

.main-p4 {
  font-size: 1.4em;
}

.main-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main-link {
  margin: 5px;
  font-size: 40px;
  text-decoration: none;
  color: white;
}